# Loads default set of integrations. Do not remove.
default_config:

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24
    - 127.0.0.1
  ip_ban_enabled: true
  login_attempts_threshold: 2
  cors_allowed_origins: "*"

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
template: !include template.yaml
modbus: !include modbus.yaml

api:

logger:
  default: info
  logs:
    homeassistant.components.rest_command: debug

# Power Consumption (Instantaneous), Energy Consumption (Accumulated)
rest_command:
  pvoutput_generation:
    method: POST
    url: https://pvoutput.org/service/r2/addstatus.jsp
    headers:
      X-Pvoutput-Apikey: !secret pvoutput_api_key
      X-Pvoutput-SystemId: !secret pvoutput_system_id
    payload: >-
      d={{now().strftime('%Y%m%d&t=%H:%M')}}
      &v4={{states('sensor.growatt_load_power')|float(0)}}
      &v2={{states('sensor.total_pv')|float(0)}}
      &v6={{states('sensor.total_pv_voltage')|float(0)}}
    content_type: "application/x-www-form-urlencoded"

# MQTT publisher
mqtt_statestream:
  base_topic: homeassistant
  include:
    domains:
      - sensor

# Notifier
notify:
  - platform: telegram
    name: "daniel"
    chat_id: 854962001

# Powercalc
powercalc:

# InfluxDB Integration
influxdb:
  host: 192.168.8.12
  port: 8086
  database: homeassistant
  username: !secret influxdb_username
  password: !secret influxdb_password
  max_retries: 3
  default_measurement: state
